* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#check,
.highscore,
.submit,
.questions {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  background-image: url("https://media.istockphoto.com/photos/sea-sand-on-blue-wooden-floortop-view-with-copy-space-picture-id1034297446?k=20&m=1034297446&s=612x612&w=0&h=czphF7-SugdCFouO4_mUaU-YU8iMIcRqbqqHIfirfwA=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

main {
  text-align: center;
}

.question {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.button {
  border-radius: 10px;
  padding: 10px;
  background-color: wheat;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  header,
  section,
  footer,
  main {
    flex-direction: column;
  }
}
